* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Assistant', sans-serif;
  background: #f6f6f6;
}

/* HEADER */
.main-header {
  background: #2b1a0f;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.header-icons a {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

/* PAGE */
.cart-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 40px;
}

/* PRODUCTS */
.cart-products {
  background: white;
  padding: 25px;
  border-radius: 12px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

/* SUMMARY */
.cart-summary {
  background: white;
  padding: 25px;
  border-radius: 12px;
  height: fit-content;
}

.delivery label {
  display: block;
  margin: 10px 0;
}

.prices p, .prices h3 {
  margin: 10px 0;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-form input {
  padding: 10px;
}

.checkout-form button {
  background: #6b3e1d;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.terms {
  font-size: 14px;




}




.desktop-nav {
  display: flex;
  gap: 20px;
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
  font-size: 22px;
}

/* מובייל */
@media (max-width: 900px) {
  .desktop-nav {
    display: none;
    position: absolute;
    top: 65px;
    right: 0;
    background: #111;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .desktop-nav.active {
    display: flex;
  }

  .desktop-nav a {
    padding: 15px;
    border-bottom: 1px solid #333;
    color: white;
  }

  .mobile-menu-icon {
    display: block;
    color: white;
  }
}

.age-verification {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.age-verification input {
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.legal-text {
  font-size: 13px;
  color: #555;
  line-height: 1.4;
}
